[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
psycopg2-binary = "*"
pandas = "*"
pymongo = "*"
dnspython = "*"
sqlite3 = "*"
python = "*"
autopep8 = "*"
pycodestyle = "*"

[requires]
python_version = "3.7"
